{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container mt-3 mb-3">

      <h2>About SMARS Lab</h2>
      <p>SMARS Lab is a Simple web app for setting up and playing with your SMARS
         robot. It was developed by Kevin McAleer in 2019 in Python. You can download
       the source code from
       <a href="https://www.github.com/kevinmcaleer/smarslab">https://www.github.com/kevinmcaleer/smarslab</a></p>
      <h5>Attribution</h5>
      <p> Glypg Icons by SmartIcons: <a href="https://glyph.smarticons.co/#usage">https://glyph.smarticons.co/#usage</a>
      </p>
    </div>
  </main>
{% endblock %}
