{% extends "layout.html" %}

{% block content %}

<script src="/static/js/blockly/blockly_compressed.js"></script>
<script src="/static/js/blockly/python_compressed.js"></script>
<script src="/static/js/blockly/blocks_compressed.js"></script>
<script src="/static/js/blockly/msg/js/en.js"></script>
<div id="blocklyDiv" style="height: 480px; width:600px;"></div>


<xml id="toolbox" style="display: none">
    <block type="controls_if"></block>
    <block type="controls_repeat_ext"></block>
    <block type="logic_compare"></block>
    <block type="math_number"></block>
    <block type="math_arithmetic"></block>
    <block type="text"></block>
    <block type="text_print"></block>
  </xml>

  <script>
    var workspace = Blockly.inject('blocklyDiv',
    {toolbox: document.getElementById('toolbox')});
    
    function myUpdateFunction(event) {
    var code = Blockly.JavaScript.workspaceToCode(workspace);
    document.getElementById('textarea').value = code;
    }
    workspace.addChangeListener(myUpdateFunction);

  </script>
{% endblock %}