{% extends "layout.html" %}
{% block content %}
<main class="hero-section">
  <div class="container">
    <h1>Setup</h1>
    <p>Follow the instructions below to setup and configure your SMARS Robot.</p>
    <div class="container">
      <div class="card-deck">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Step 1 - Check wiring</h5>
            <img class="img-fluid" src="{{url_for('static', filename='img/PCA9685.png')}}" alt="an image of a PCA9685 circuit">
            <br><br>
            <p class="card-text">Plug in each servo to the PCA9685 driver board. The correct wiring sequence is as follows:</p>
            <p>Press the Check button below to test each servo is responding (it will wiggle when pressed).</p>

            <table class="table table-striped mb5 table-sm">
              <tr>
                <td>Channel 0</td>
                <td>LEFT_LEG_FRONT</td>
                <td><button class="btn btn-sm btn-orange">Check 0</button></td>
              </tr>
              <tr>
                <td>Channel 1</td>
                <td>LEFT_FOOT_FRONT</td>
                <td><button class="btn btn-sm btn-orange">Check 1</button></td>
              </tr>
              <tr>
                <td>Channel 2</td>
                <td>LEFT_LEG_BACK</td>
                <td><button class="btn btn-sm btn-orange">Check 2</button></td>
              </tr>
              <tr>
                <td>Channel 3</td>
                <td>LEFT_FOOT_BACK</td>
                <td><button class="btn btn-sm btn-orange">Check 3</button></td>
              </tr>
              <tr>
                <td>Channel 4</td>
                <td>RIGHT_LEG_BACK</td>
                <td><button class="btn btn-sm btn-orange">Check 4</button></td>
              </tr>
              <tr>
                <td>Channel 5</td>
                <td>RIGHT_FOOT_BACK</td>
                <td><button class="btn btn-sm btn-orange">Check 5</button></td>
              </tr>
              <tr>
                <td>Channel 6</td>
                <td>RIGHT_LEG_FRONT</td>
                <td><button class="btn btn-sm btn-orange">Check 6</button></td>
              </tr>
              <tr>
                <td>Channel 7</td>
                <td>RIGHT_FOOT_FRONT</td>
                <td><button class="btn btn-sm btn-orange">Check 7</button></td>
              </tr>
            </table>
            <hr>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="card-title">Step 2</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Each servo has a range of motion between 0º and
              180º degrees. However the each robot leg only needs between 0 and
              90 degrees of rotation.<br>
              The servos are oriented differently for each leg, so the degrees
              of rotation for each needs to be understood and set correctly in
              the code.</p>
              <img src="/static/img/quad_arm_angles.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
